/* _fundamentals.scss */
/* Variables */
/* Default transition, usage: @include bg-trans(); */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../lib/material-icons/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../lib/material-icons/MaterialIcons-Regular.woff2") format("woff2"), url("../lib/material-icons/MaterialIcons-Regular.woff") format("woff"), url("../lib/material-icons/MaterialIcons-Regular.ttf") format("truetype"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

html, body {
  background-color: #F1F1F1; }

body {
  word-wrap: break-word;
  font-family: "Lato", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300; }

h1, h2, h3 {
  font-family: "Cabin", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400; }

h2 {
  font-size: 30px;
  line-height: 38px;
  text-align: center; }

h3 {
  font-size: 20px;
  line-height: 26px; }

h2:after {
  content: '';
  display: block;
  width: 60px;
  margin-left: calc(50% - 30px);
  border-top: 2px solid #88DBDF;
  margin-top: 15px;
  margin-bottom: 15px; }

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #88DBDF;
  transition: color ease .2s; }

a:focus, a:hover {
  color: #3B89AD;
  text-decoration: none; }

.res-title a, a.nav-link, .logo a, .cite-selector a, .start_right_block a, .res-act-button a, .pagination-item a, .acdh-brand a, .single-res-thumb a, nav a, .footer-login-button a, .lb-close {
  border-bottom: none; }

b, strong {
  font-weight: 600; }

.inverse {
  color: #FFFFFF; }

.form-control {
  border: 2px solid #88DBDF;
  border-radius: 8px;
  font: inherit;
  padding: 6px 12px; }

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-size: 14px; }

/*
body {
animation: fadein 0.5s;
-moz-animation: fadein 0.5s;
-webkit-animation: fadein 0.5s;
-o-animation: fadein 0.5s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
*/
.form-text::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #bababa; }

.form-text::-moz-placeholder {
  /* Firefox 19+ */
  color: #bababa; }

.form-text:-ms-input-placeholder {
  /* IE 10+ */
  color: #bababa; }

.form-text:-moz-placeholder {
  /* Firefox 18- */
  color: #bababa; }

/* _header.scss */
.main-header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
  display: inline-block;
  width: 100%;
  z-index: 99;
  padding: 35px 0 10px 0;
  position: relative; }
  .main-header > .container {
    padding-left: 30px;
    padding-right: 30px; }
  .main-header #block-acdh-repo-branding {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center; }
  .main-header .logo img {
    max-width: 190px;
    margin-bottom: -17px; }
  .main-header .main-navigation .navbar {
    padding: 0;
    position: inherit;
    justify-content: flex-end; }
    .main-header .main-navigation .navbar .navbar-collapse {
      justify-content: flex-end;
      margin: 4px -25px 0 0; }
    .main-header .main-navigation .navbar ul.navbar-nav {
      display: inline-block; }
      .main-header .main-navigation .navbar ul.navbar-nav li.nav-item {
        display: inline-block; }
        .main-header .main-navigation .navbar ul.navbar-nav li.nav-item:nth-child(1) > a.nav-link {
          border-left: 1px solid #DDDDDD; }
        .main-header .main-navigation .navbar ul.navbar-nav li.nav-item a.nav-link {
          text-transform: uppercase;
          border-left: 1px solid #DDDDDD;
          padding: 0 22px 16px 22px;
          font-size: 13px;
          font-weight: 600; }

.navbar-toggler-icon i {
  font-size: 28px;
  color: #88dbdf;
  border: 2px solid #88dbdf;
  border-radius: 5px;
  padding: 0px 3px; }

.navbar-toggler-right {
  position: absolute;
  top: 15px;
  right: 24px;
  cursor: pointer; }

.navbar-toggler-right:focus {
  outline: none; }

.institut-left-color {
  background-color: #88DBDF; }

.institut-bar {
  margin: 0 21px 6px 25px;
  height: 30px;
  flex: 1; }

.institut-bar > div {
  text-align: right;
  padding: 5px 16px;
  font-size: 14px;
  color: #FFFFFF; }

.acdh-brand img {
  max-width: 62px;
  margin-bottom: 10px; }

/* _layouts.scss */
main {
  margin-top: 20px;
  display: inline-block;
  width: 100%; }

.col-block {
  float: left;
  margin-bottom: 20px; }

.el-block {
  float: left; }

.col-block-wrapper {
  background: #FFFFFF;
  border-top: 8px solid #88DBDF;
  border-bottom: 1px solid #DDDDDD;
  padding: 20px;
  display: inline-block;
  width: 100%; }

.start_intro_block .col-block-wrapper {
  background-color: #333333;
  background-size: cover;
  text-align: center;
  padding: 30px 30px 20px 30px; }

.start_left_block .col-block-wrapper, .start_right_block .col-block-wrapper {
  min-height: 721px; }
  .start_left_block .col-block-wrapper h3 img, .start_right_block .col-block-wrapper h3 img {
    width: 230px; }
    .start_left_block .col-block-wrapper h3 img.align-left, .start_right_block .col-block-wrapper h3 img.align-left {
      margin-right: 10px; }
  .start_left_block .col-block-wrapper ul, .start_right_block .col-block-wrapper ul {
    display: inline-block;
    padding: 0 0 0 20px;
    line-height: 30px; }
  .start_left_block .col-block-wrapper hr, .start_right_block .col-block-wrapper hr {
    margin: 5px 0 25px 0; }

nav.breadcrumb {
  background: transparent;
  padding: 0;
  border-radius: 0;
  margin-bottom: 20px; }
  nav.breadcrumb > .breadcrumb {
    background-color: #88DBDF;
    margin: -28px -20px 0px -20px;
    border-radius: 0;
    padding: 6px 20px;
    font-size: 14px; }
    nav.breadcrumb > .breadcrumb > span:nth-last-of-type(1) {
      display: none; }

#block-mainpagecontent {
  border-left: 1px solid #DDDDDD;
  padding: 0px 10px 0 22px;
  min-height: 650px; }
  #block-mainpagecontent img {
    max-width: 100%; }

#class-form > .btn {
  color: #333333 !important;
  border-color: #88DBDF !important;
  background-color: #88DBDF !important;
  font-weight: 600;
  font-size: 14px;
  margin: 6px 0 !important; }

.form-submit {
  background-color: #88DBDF;
  color: #333333;
  padding: 5px 10px;
  margin-top: 10px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px; }

.search-form {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 20px;
  margin-bottom: 20px; }

.search-form, .class-form {
  box-shadow: none !important; }

.vert-divider {
  position: absolute;
  width: 1px;
  top: 70px;
  bottom: 30px;
  background: #DDDDDD;
  margin-left: 260px; }

.messages--error {
  background-position-y: 19px; }

#oeaw-table {
  width: 100%;
  text-align: center; }

#oeaw-table th {
  text-align: center;
  margin-bottom: 20px;
  display: block; }

#oeaw-table tr > td {
  display: block;
  margin: 15px; }

#oeaw-table tr > td > a {
  border: 1px solid #88DBDF;
  padding: 10px 15px;
  border-radius: 5px; }

#block-acdh-repo-account-menu {
  position: absolute;
  right: 20px;
  bottom: 15px; }
  #block-acdh-repo-account-menu .navbar-nav {
    display: block; }
    #block-acdh-repo-account-menu .navbar-nav > li {
      display: inline-block;
      margin-left: 10px;
      font-size: 13px;
      text-transform: uppercase; }

.repo-actions-nav {
  float: right; }

.repo-actions-nav > span {
  margin: 0 0 0 10px;
  padding: 1px 10px; }

.repo-actions-nav > span a {
  border: 1px solid #FFFFFF;
  padding: 1px 8px 2px 8px;
  border-radius: 4px;
  color: #FFFFFF;
  transition: border-color ease .1s, color ease .1s; }

.repo-actions-nav > span a:hover {
  text-decoration: none;
  color: #3B89AD;
  border-color: #3B89AD; }

.repo-actions-nav > span a:active, .repo-actions-nav > span a:focus {
  text-decoration: none; }

.form-text {
  display: block;
  width: 100%;
  color: #464a4c;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  border: 2px solid #88DBDF;
  border-radius: 8px;
  font: inherit;
  padding: 5px 12px;
  height: 38px; }

.node .repo-actions-nav {
  display: none; }

#block-mainpagecontent .form-item {
  margin-bottom: 20px; }

#block-mainpagecontent label {
  font-weight: 600;
  margin-bottom: 0; }

.res-el {
  border-bottom: 1px solid #DDDDDD;
  padding: 0 0 20px 0; }

.res-property {
  padding: 2px 0; }

.res-property i {
  vertical-align: text-bottom;
  font-size: 17px;
  padding-right: 3px; }

.res-title {
  font-weight: 600; }

.res-contributor {
  font-style: italic; }

.single-res-overview {
  float: left;
  width: 100%; }

.single-res-overview-basic .res-property {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  word-break: break-word; }
  .single-res-overview-basic .res-property .res-prop-label {
    min-width: 142px; }
  .single-res-overview-basic .res-property i {
    padding-top: 4px; }

.res-act-button {
  display: inline-block;
  background-color: #88DBDF;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 2px 7px;
  margin: 6px 8px 0 0;
  font-size: 14px;
  cursor: pointer;
  transition: background-color ease .2s; }
  .res-act-button:hover {
    background-color: #3B89AD; }
  .res-act-button a:focus, .res-act-button a:hover {
    color: inherit;
    text-decoration: none; }
  .res-act-button i {
    vertical-align: sub;
    font-size: 16px;
    padding-right: 2px; }

.res-property-desc {
  display: none; }

.res-el.res-info {
  padding-bottom: 5px; }

.res-child-info {
  margin-top: 30px; }

.res-prop-label {
  font-style: italic; }

.res-child-info h3 {
  margin-bottom: 0; }

.left-sidebar {
  padding-left: 0;
  padding-right: 20px; }

.left-sidebar-info {
  border-bottom: 1px solid #DDDDDD;
  padding: 0 0 5px 0;
  margin-bottom: 20px; }

.sks-form, .stor-form {
  margin-bottom: 20px;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 15px; }

.form-item-metavalue {
  margin: 15px 10px 0 10px; }

.sks-form h3:before, .stor-form h3:before, .fieldset-legend:before {
  content: 'remove';
  font-family: 'Material Icons';
  border: 2px solid #3B89AD;
  color: #3B89AD;
  border-radius: 5px;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  font-size: 15px;
  margin-right: 6px;
  padding-left: 1px; }

.sks-form h3 {
  cursor: pointer; }

.closed.fieldset-legend:before, .sks-form h3.closed:before {
  content: 'add'; }

.fieldset-legend {
  font-size: 20px;
  line-height: 26px;
  font-family: "Cabin", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  cursor: pointer; }

h3.extra-filter-heading {
  margin-top: 10px;
  padding-top: 20px;
  border-top: 1px solid #DDDDDD; }

#block-search {
  display: none;
  position: relative; }

#sks-form {
  position: relative; }
  #sks-form .form-actions {
    position: absolute;
    top: 0;
    right: 10px; }
    #sks-form .form-actions .keywordsearch-btn {
      margin: 0;
      border: 0;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      height: 38px;
      padding: 6px 9px;
      font-family: 'Material Icons';
      font-size: 24px;
      color: #FFFFFF;
      background-color: #88DBDF;
      font-weight: normal;
      line-height: 1;
      cursor: pointer;
      transition: background-color ease .2s; }
      #sks-form .form-actions .keywordsearch-btn:hover {
        background-color: #3B89AD; }

.form-examples {
  margin: 15px 0 0 0;
  background-color: #F1F1F1;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  padding: 8px 10px 10px 10px;
  font-size: 14px; }

.form-example-btn {
  display: inline-block;
  background-color: #88DBDF;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 2px 7px;
  margin: 6px 8px 0 0;
  font-size: 14px;
  cursor: pointer;
  transition: background-color ease .2s; }

.form-example-btn:hover {
  background-color: #3B89AD; }

.index-keyword-search {
  margin-bottom: 25px; }

.start_left_block figure.align-left {
  width: 45%;
  margin-right: 20px;
  font-weight: 600;
  font-size: 14px; }

.start_left_block figure.align-left > img {
  width: 100%;
  padding-bottom: 5px; }

/* Checkboxes */
.form-composite {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #DDDDDD; }

.fieldset-wrapper {
  margin-left: 10px;
  margin-bottom: 5px;
  float: left; }

legend {
  float: left; }

input.checkbox-custom, .radio-custom {
  opacity: 0;
  position: absolute;
  margin: 7px 0 0 4px;
  z-index: 99; }

input.checkbox-custom, .option, .radio-custom {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer; }

.option {
  position: relative; }

input.checkbox-custom + .option:before, .radio-custom + .option:before {
  content: '';
  background: #FFFFFF;
  border: 2px solid #88DBDF;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 10px;
  text-align: center; }

input.checkbox-custom:checked + .option:before {
  background: #3B89AD;
  box-shadow: inset 0px 0px 0px 2px #FFFFFF;
  border-color: #3B89AD; }

.radio-custom + .option:before {
  border-radius: 50%; }

.radio-custom:checked + .option:before {
  background: #ccc;
  box-shadow: inset 0px 0px 0px 4px #FFFFFF; }

input.checkbox-custom:focus + .option, .radio-custom:focus + .option {
  outline: 1px solid #DDDDDD;
  /* focus style */ }

.single-res-heading:nth-child(1) {
  margin-top: 0; }

.single-res-heading {
  margin-top: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid #DDDDDD; }

.single-res-heading i {
  vertical-align: text-bottom; }

figure.highlight {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 14px;
  padding-right: 60px;
  background-color: #F1F1F1;
  border-top: 1px solid #88DBDF;
  border-bottom: 1px solid #88DBDF;
  font-size: 14px; }

.cite-style > a > i {
  font-size: 17px;
  vertical-align: sub;
  margin-left: 5px; }

.cite-style > a:hover {
  color: #3B89AD; }

.cite-style > a:focus {
  color: #FFFFFF; }

.cite-style.selected > a:hover {
  color: #88DBDF; }

.cite-style.selected > a:focus {
  color: #FFFFFF; }

.tooltip.show {
  opacity: 0.97; }

.tooltip-inner {
  padding: 5px 8px;
  color: #333333;
  background-color: #F1F1F1;
  box-shadow: 0px 0px 0px 1px #88DBDF;
  font-size: 14px;
  font-family: "Lato", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

.tooltip.bs-tether-element-attached-left .tooltip-inner::before, .tooltip.tooltip-right .tooltip-inner::before {
  border-right-color: #F1F1F1; }

.tooltip.bs-tether-element-attached-top .tooltip-inner::before, .tooltip.tooltip-bottom .tooltip-inner::before {
  border-bottom-color: #88DBDF; }

.bs-tether-element-attached-top {
  font-size: 14px;
  font-family: "Cabin", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

.bs-tether-element-attached-top .tooltip-inner {
  background-color: #88DBDF; }

.highlight pre code {
  color: #3B89AD; }

.cite-selector {
  border-left: 1px solid #88DBDF;
  margin-top: 20px; }

.cite-style {
  display: inline-block;
  border-right: 1px solid #88DBDF;
  border-top: 1px solid #FFFFFF;
  color: #FFFFFF;
  background-color: #88DBDF;
  padding: 6px 14px;
  margin-right: -3px;
  cursor: pointer;
  font-size: 14px; }

.cite-style.selected {
  background-color: #3B89AD;
  border-color: #FFFFFF;
  color: #FFFFFF; }

.res-file {
  cursor: pointer; }

.res-file:hover {
  color: #3B89AD;
  border-bottom: 1px solid #88DBDF; }

.child-res {
  border-bottom: 1px solid #DDDDDD;
  padding: 10px 0 20px 0; }

.res-inside-wrap {
  float: left;
  padding: 0; }

.single-res-thumb {
  /*border: 1px solid $gray;*/
  border-radius: 4px;
  padding: 10px;
  height: 100px;
  position: relative;
  margin-top: 5px;
  float: right;
  max-width: 100%; }

.single-res-thumb img {
  max-width: 100%;
  position: relative;
  max-height: 100%; }

.res-thumb-info {
  font-size: 13px;
  display: inline-block;
  width: 100%;
  text-align: right; }

.single-res-overview-expert {
  display: none; }

.single-res-heading .res-act-button {
  color: #3B89AD;
  background: transparent;
  float: right;
  margin: 0px 0px 0px 10px;
  transition: color ease .2s; }
  .single-res-heading .res-act-button:hover {
    color: #88DBDF; }

.res-seeAlso a, .res-locationUrl a, .res-pid a {
  font-style: italic;
  font-size: 15px; }

.dataTables_wrapper {
  padding: 0;
  font-size: 14px; }

/*
.dataTables_wrapper > .row {
    margin-top: 10px;
}
*/
table.dataTable {
  border-right: 1px solid #eceeef;
  border-left: 1px solid #eceeef;
  border-bottom: 1px solid #eceeef; }

table.dataTable th {
  font-size: 14px; }

table.dataTable td {
  font-size: 16px;
  padding: 6px 15px; }

table.dataTable td a {
  word-break: break-word; }

table.dataTable td.res-download-button {
  padding-left: 35px; }

table.dataTable td.res-download-button i {
  cursor: pointer;
  color: #3B89AD;
  transition: color ease .1s; }

table.dataTable td.res-download-button i:hover {
  color: #88DBDF; }

.info-menu-wrap {
  padding-left: 10px;
  z-index: 1; }

.info-menu-wrap.fixed-sidebar {
  position: fixed;
  margin-top: -220px; }

#block-informationpagenavigation {
  padding-left: 0; }

.info-menu-wrap > ul > li:nth-child(5):after {
  content: "Policies";
  display: block;
  font-family: "Cabin", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 8px; }

h3.latest-additions {
  margin-bottom: 10px; }

.res-act-button.global-button {
  margin: 0 auto;
  float: none;
  display: table;
  background-color: transparent;
  color: #88DBDF;
  border: 1px solid #88DBDF;
  font-size: 15px;
  padding: 3px 10px; }

.res-act-button.global-button:hover {
  color: #fff;
  background-color: #88DBDF;
  border-color: #88DBDF;
  transition: background-color ease .2s; }

.date-filter {
  max-width: 90px;
  display: inline-block;
  height: 32px;
  padding: 0 2px;
  border: 0;
  border-bottom: 2px solid #88DBDF;
  border-radius: 0px; }

.form-item-date-start-date, .form-item-date-end-date {
  display: none; }

.form-item-date-start-date label, .form-item-date-end-date label {
  margin-left: 10px;
  width: 50px; }

.date-filter-btn {
  background: transparent;
  border: 0;
  border-bottom: 2px solid #88dbdf;
  padding: 2px 4px;
  margin-left: 0px;
  cursor: pointer; }

.date-filter-btn > i {
  vertical-align: sub;
  font-size: 18px;
  color: #3b89ad; }

.date-filter:focus, .date-filter-btn:focus {
  outline: none; }

.form-item-date-end-date {
  margin-bottom: 5px; }

.result-basic-info {
  text-align: right; }

.results-info-bar {
  display: inline-block;
  border-left: 1px solid #DDDDDD;
  padding-left: 10px;
  margin-left: 10px; }

.results-info-bar.pagination-span {
  padding-left: 6px;
  margin-right: -4px; }

.results-info-bar:nth-child(1) {
  float: left;
  border-left: none;
  padding-left: 0;
  margin-left: 0; }

.pagination-dropdown {
  display: inline-block; }

.pagination-dropdown > .btn {
  border: 1px solid #88dbdf;
  padding: 3px 30px 3px 7px;
  font-size: 14px;
  color: #88dbdf;
  position: relative;
  margin-bottom: 3px;
  margin-left: 2px;
  transition: border-color ease .1s, color ease .1s;
  cursor: pointer;
  font-family: inherit; }

.show > .btn.dropdown-toggle {
  background-color: initial;
  border-color: #88DBDF;
  color: #3B89AD; }

.btn.dropdown-toggle.focus, .btn.dropdown-toggle:focus {
  box-shadow: none; }

.pagination-dropdown > .btn:hover {
  background-color: initial; }

.pagination-dropdown:hover > .dropdown-toggle {
  border-color: #3B89AD;
  color: #3B89AD; }

.pagination-dropdown:hover > .dropdown-toggle::after {
  background-color: #3B89AD; }

.dropdown-toggle::after {
  background-color: #88dbdf;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 10px;
  border: 0;
  font-family: 'Material Icons';
  content: "arrow_drop_down";
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0 23px 0 0;
  transition: background-color ease .1s; }

.pagination-dropdown .dropdown-menu {
  min-width: 0px;
  padding: 0px;
  font-size: 14px;
  left: 2px;
  border-color: #88DBDF; }

.pagination-dropdown .dropdown-menu > .dropdown-item {
  padding: 5px 8px; }

.pagination-item {
  display: inline-block;
  padding: 0 4px;
  color: #3B89AD; }

.pagination-item.active {
  color: initial; }

.pagination-item i {
  font-size: 16px;
  vertical-align: text-bottom;
  color: #3B89AD; }

#block-search #sks-form .form-actions {
  width: 100%;
  left: 0px;
  bottom: -65px;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 15px;
  top: unset;
  display: none; }
  #block-search #sks-form .form-actions .complexsearch-btn {
    width: 100%;
    margin: 0;
    border: 0;
    border-radius: 5px;
    padding: 8px;
    color: #FFFFFF;
    background-color: #3B89AD;
    font-weight: normal;
    line-height: 1;
    cursor: pointer;
    transition: background-color ease .2s; }
    #block-search #sks-form .form-actions .complexsearch-btn:hover {
      background-color: #88DBDF; }
    #block-search #sks-form .form-actions .complexsearch-btn:focus {
      outline: none; }

#block-search #sks-form {
  position: unset; }

main > .layout-content > .col-block-wrapper {
  min-height: 400px; }

#res-act-button-copy-url {
  position: relative;
  z-index: 9; }

#copyLinkTextfield-wrapper {
  position: absolute;
  width: 230px;
  left: -30px;
  top: 28px;
  display: none; }

#copyLinkTextfield-wrapper:before {
  position: absolute;
  border-color: transparent;
  border-style: solid;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  content: "";
  border-width: 0 5px 5px;
  border-bottom-color: #88DBDF;
  z-index: 99; }

#copyLinkTextfield {
  position: relative;
  width: 100%;
  background-color: #f1f1f1;
  padding: 2px 5px 2px 30px;
  border: 1px solid #88dbdf;
  border-radius: 5px;
  color: #3c88ae;
  font-family: inherit;
  font-style: italic;
  font-size: 13px;
  text-align: left; }

#copyLinkTextfield:focus {
  outline: none; }

#copyLinkInputBtn {
  position: absolute;
  z-index: 99;
  left: 10px;
  top: 3px;
  color: #3B89AD; }

#cookie-overlay {
  background-color: rgba(51, 51, 51, 0.9);
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  color: #FFFFFF;
  padding: 15px 10px;
  text-align: center;
  display: none; }

.cookie-message {
  display: inline-block; }

.cookie-message a:hover {
  color: #88DBDF; }

.cookie-accept-btn {
  display: inline-block;
  background-color: #ffd534;
  color: #333;
  padding: 5px 30px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  margin: 0 0 0 20px; }

.cookie-accept-btn {
  display: inline-block;
  background-color: #ffd534;
  color: #333;
  padding: 5px 30px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  margin: 0 0 0 20px;
  transition: background-color ease .2s; }

.cookie-accept-btn:hover {
  background-color: #d2b33d; }

.table-row-acdhBlue td {
  background: #88dbdf;
  font-weight: 600;
  padding: 2px 37px;
  font-size: 13px; }

.format-table td, .metadata-table td {
  padding: 1px 10px; }

.format-table tr:nth-of-type(even), .metadata-table tr:nth-of-type(even) {
  background-color: #f7f7f7; }

.format-table th, .metadata-table th {
  padding: 2px 10px; }

.metadata-table thead {
  border-bottom: 2px solid #88dbdf; }

.btn-clipboard {
  top: 13px; }

.btn-clipboard:hover {
  background-color: #3c88ac; }

.bd-clipboard {
  position: relative; }

#copy-cite-btn-confirmation {
  display: none;
  position: absolute;
  width: 200px;
  left: -200px;
  top: -15px;
  background-color: #f1f1f1;
  padding: 2px 5px;
  border: 1px solid #88dbdf;
  border-radius: 5px;
  color: #3c88ae;
  font-size: 13px;
  text-align: center; }

#searchInfo {
  display: inline-block; }

.res-prop-delimiter {
  margin-left: -2px; }

.res-prop-delimiter:nth-last-child(1) {
  display: none; }

.res-diss-btn.gui-btn {
  display: none; }

/* _footer.scss */
.main-footer {
  background-color: #FFFFFF;
  display: inline-block;
  width: 100%;
  z-index: 3;
  position: relative;
  border-top: 25px solid #F1F1F1;
  margin-top: -26px; }
  .main-footer .footer-wrapper {
    padding: 25px 20px 50px 20px;
    display: inline-block;
    width: 100%; }
    .main-footer .footer-wrapper .footer-social {
      text-align: right; }
      .main-footer .footer-wrapper .footer-social a {
        font-size: 24px;
        color: #333333;
        margin-left: 15px; }
    .main-footer .footer-wrapper .navbar {
      float: right;
      padding-right: 0; }

.footer-sep {
  border-bottom: 1px solid #333333;
  padding-bottom: 15px;
  padding-top: 5px;
  margin-bottom: 35px;
  font-weight: 600;
  font-size: 14px; }

.footer-sep i {
  font-size: 20px;
  padding-right: 5px; }

footer .el-block.first {
  padding-left: 0; }

footer .el-block.last {
  padding-right: 0;
  float: right; }

.helpdesk-button {
  display: block;
  background-color: #FFFFFF;
  border: 1px solid #88DBDF;
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 11px;
  font-weight: 600;
  color: #88DBDF;
  transition: background-color ease .2s, color ease .2s; }

.helpdesk-button:hover, .helpdesk-button:focus {
  background-color: #88DBDF;
  color: #FFFFFF;
  transition: background-color ease .2s, color ease .2s; }

footer .bodytext {
  font-size: 15px; }

.csc-textpic-text {
  padding-left: 20px; }

footer h3 {
  font-size: 17px; }

.footer-login-button {
  float: right;
  margin-left: 8px; }

.footer-login-button i {
  color: #88DBDF;
  font-size: 22px;
  margin-top: 6px;
  transition: color ease .2s; }

.footer-login-button i:hover, .footer-login-button i:focus {
  color: #3B89AD; }

.footer-imprint-bar {
  text-align: center;
  background-color: #F1F1F1;
  padding: 8px;
  font-size: 14px; }

@media (max-width: 1199px) {
  .vert-divider {
    margin-left: 215px; }

  .start_right_block .col-block-wrapper h3 img {
    width: 145px; }

  footer .el-block.col-md-3.first {
    flex: 0 0 30%;
    max-width: 30%; } }
@media (max-width: 991px) {
  .vert-divider {
    display: none; }

  .institut-bar {
    display: none; }

  .acdh-brand {
    display: none; }

  .main-header {
    padding: 20px 0 10px 0; }

  .navbar-toggler-right {
    top: 8px;
    right: 30px; }

  .main-header .main-navigation .navbar ul.navbar-nav li.nav-item {
    float: left;
    width: 100%; }

  .main-header .main-navigation .navbar ul.navbar-nav li.nav-item a.nav-link {
    border-top: 1px solid #ddd;
    border-left: none !important;
    border-right: none;
    padding: 10px 0; }

  .start_left_block .col-block-wrapper, .start_right_block .col-block-wrapper {
    min-height: auto; }

  body.toolbar-tray-open.toolbar-vertical .main-header {
    width: calc(100% - 240px); }

  footer .el-block.col-md-3.first {
    flex: 0 0 40%;
    max-width: 40%; }

  .breadcrumb {
    display: none; }

  .results-info-bar-items, .results-info-bar-sort {
    display: none; }

  .res-act-button-expertview > span {
    display: none; } }
@media (max-width: 767px) {
  .csc-textpic-text {
    padding-left: 0px; }

  .footer-wrapper .el-block {
    padding-left: 0;
    padding-top: 10px; }

  .info-menu-wrap.fixed-sidebar {
    position: static;
    margin-top: 0; }

  #block-mainpagecontent {
    border-left: none;
    padding: 0px 10px;
    min-height: auto; }

  .detailPage .left-sidebar {
    display: none; } }
/* Date Picker Default Styles */
.ui-datepicker {
  padding: 0;
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.ui-datepicker * {
  padding: 0;
  font-family: "Cabin", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, sans-serif;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.ui-datepicker table {
  font-size: 13px;
  margin: 0; }

.ui-datepicker .ui-datepicker-header {
  border: none;
  background: #222;
  color: #fff;
  font-weight: normal; }

.ui-datepicker .ui-datepicker-header .ui-state-hover {
  background: #222;
  border-color: transparent;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.ui-datepicker thead {
  background: #222;
  color: #fff; }

.ui-datepicker .ui-datepicker-title {
  margin-top: .4em;
  margin-bottom: .3em;
  color: #fff;
  font-size: 14px; }

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
  height: 1em;
  top: .9em;
  border: none; }

.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px; }

.ui-datepicker .ui-datepicker-next-hover {
  right: 2px; }

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
  margin-top: 0;
  top: 0;
  font-weight: normal; }

.ui-datepicker .ui-datepicker-prev:after {
  content: '<';
  color: #fff;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  font-size: 15px;
  margin-left: 15px;
  vertical-align: text-top; }

.ui-datepicker .ui-datepicker-next:after {
  content: '>';
  color: #fff;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  font-size: 15px;
  margin-right: 15px;
  vertical-align: text-top; }

.ui-datepicker th {
  padding: 0.75em 0;
  color: #fff;
  font-weight: normal;
  border: none;
  border-top: 1px solid #333; }

.ui-datepicker td {
  background: #f1f1f1;
  border: none;
  padding: 0; }

.ui-datepicker td .ui-state-default {
  background: transparent;
  border: none;
  text-align: center;
  padding: .5em;
  margin: 0;
  font-weight: normal;
  color: #333; }

.ui-datepicker td .ui-state-active,
.ui-datepicker td .ui-state-hover {
  background: #0074a2;
  color: #fff; }

.ui-datepicker td.ui-state-disabled,
.ui-datepicker td.ui-state-disabled .ui-state-default {
  opacity: 1;
  color: #999; }

/* Blue */
.ui-datepicker .ui-datepicker-header,
.ui-datepicker .ui-datepicker-header .ui-state-hover,
.ui-datepicker thead {
  background: #4796b3; }

.ui-datepicker th {
  border-color: #52accc; }

.ui-datepicker td .ui-state-active,
.ui-datepicker td .ui-state-hover {
  background: #096484; }

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 30%;
  border-radius: 0;
  background: #fff;
  color: #4895b2;
  margin-left: 5px; }
