/* _fundamentals.scss */
/* Variables */
/* Default transition, usage: @include bg-trans(); */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../lib/material-icons/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../lib/material-icons/MaterialIcons-Regular.woff2") format("woff2"), url("../lib/material-icons/MaterialIcons-Regular.woff") format("woff"), url("../lib/material-icons/MaterialIcons-Regular.ttf") format("truetype"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

html, body {
  background-color: #F1F1F1; }

body {
  word-wrap: break-word;
  font-family: "Lato", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300; }

h1, h2, h3 {
  font-family: "Cabin", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400; }

h2 {
  font-size: 30px;
  line-height: 38px;
  text-align: center; }

h3 {
  font-size: 20px;
  line-height: 26px; }

h2:after {
  content: '';
  display: block;
  width: 60px;
  margin-left: calc(50% - 30px);
  border-top: 2px solid #88DBDF;
  margin-top: 15px;
  margin-bottom: 15px; }

a {
  color: inherit;
  text-decoration: none; }

.inverse {
  color: #FFFFFF; }

.form-control {
  border: 2px solid #88DBDF;
  border-radius: 8px;
  font: inherit;
  padding: 6px 12px; }

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-size: 14px; }

/*
body {
animation: fadein 0.5s;
-moz-animation: fadein 0.5s;
-webkit-animation: fadein 0.5s;
-o-animation: fadein 0.5s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
*/
/* _header.scss */
.main-header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
  display: inline-block;
  width: 100%;
  position: fixed;
  z-index: 99; }
  .main-header > .container {
    padding-left: 30px;
    padding-right: 30px; }
  .main-header #block-acdh-repo-branding {
    float: left;
    padding-top: 12px; }
  .main-header .main-navigation {
    float: right; }
    .main-header .main-navigation .navbar {
      padding: 0;
      position: inherit; }
      .main-header .main-navigation .navbar ul.navbar-nav {
        display: inline-block; }
        .main-header .main-navigation .navbar ul.navbar-nav li.nav-item {
          display: inline-block; }
          .main-header .main-navigation .navbar ul.navbar-nav li.nav-item:nth-child(1) > a.nav-link {
            border-left: 1px solid #DDDDDD; }
          .main-header .main-navigation .navbar ul.navbar-nav li.nav-item a.nav-link {
            text-transform: uppercase;
            border-right: 1px solid #DDDDDD;
            padding: 25px 20px;
            font-size: 0.9rem; }

.navbar-toggler-icon i {
  font-size: 28px;
  color: #88dbdf;
  border: 2px solid #88dbdf;
  border-radius: 5px;
  padding: 0px 3px; }

.navbar-toggler-right {
  position: absolute;
  top: 15px;
  right: 24px;
  cursor: pointer; }

.navbar-toggler-right:focus {
  outline: none; }

/* _layouts.scss */
main {
  margin-top: 92px;
  display: inline-block;
  width: 100%; }

.col-block {
  float: left;
  margin-bottom: 20px; }

.el-block {
  float: left; }

.col-block-wrapper {
  background: #FFFFFF;
  border-top: 8px solid #88DBDF;
  border-bottom: 1px solid #DDDDDD;
  padding: 20px;
  display: inline-block;
  width: 100%; }

.start_intro_block .col-block-wrapper {
  background-color: #333333;
  background-size: cover;
  text-align: center;
  padding: 30px 30px 20px 30px; }

.start_left_block .col-block-wrapper, .start_right_block .col-block-wrapper {
  min-height: 721px; }
  .start_left_block .col-block-wrapper h3 > img, .start_right_block .col-block-wrapper h3 > img {
    width: 230px; }
    .start_left_block .col-block-wrapper h3 > img.align-left, .start_right_block .col-block-wrapper h3 > img.align-left {
      margin-right: 10px; }
  .start_left_block .col-block-wrapper ul, .start_right_block .col-block-wrapper ul {
    display: inline-block;
    padding: 0 0 0 20px;
    line-height: 30px; }
  .start_left_block .col-block-wrapper hr, .start_right_block .col-block-wrapper hr {
    margin: 5px 0 25px 0; }

nav.breadcrumb {
  background: transparent;
  padding: 0;
  border-radius: 0;
  margin-bottom: 20px; }
  nav.breadcrumb > .breadcrumb {
    background-color: #88DBDF;
    margin: -28px -20px 0px -20px;
    border-radius: 0;
    padding: 6px 20px;
    font-size: 14px; }
    nav.breadcrumb > .breadcrumb > span:nth-last-of-type(1) {
      display: none; }

#block-mainpagecontent {
  border-left: 1px solid #DDDDDD;
  padding: 0 30px;
  min-height: 650px; }
  #block-mainpagecontent img {
    max-width: 100%; }

#class-form > .btn {
  color: #333333 !important;
  border-color: #88DBDF !important;
  background-color: #88DBDF !important;
  font-weight: 600;
  font-size: 14px;
  margin: 6px 0 !important; }

.form-submit {
  background-color: #88DBDF;
  color: #333333;
  padding: 5px 10px;
  margin-top: 10px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px; }

.search-form {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 20px;
  margin-bottom: 20px; }

.search-form, .class-form {
  box-shadow: none !important; }

.vert-divider {
  position: absolute;
  width: 1px;
  top: 70px;
  bottom: 30px;
  background: #DDDDDD;
  margin-left: 260px; }

.messages--error {
  background-position-y: 19px; }

#oeaw-table {
  width: 100%;
  text-align: center; }

#oeaw-table th {
  text-align: center;
  margin-bottom: 20px;
  display: block; }

#oeaw-table tr > td {
  display: block;
  margin: 15px; }

#oeaw-table tr > td > a {
  border: 1px solid #88DBDF;
  padding: 10px 15px;
  border-radius: 5px; }

#block-acdh-repo-account-menu {
  position: absolute;
  right: 20px;
  bottom: 15px; }
  #block-acdh-repo-account-menu .navbar-nav {
    display: block; }
    #block-acdh-repo-account-menu .navbar-nav > li {
      display: inline-block;
      margin-left: 10px;
      font-size: 13px;
      text-transform: uppercase; }

.repo-actions-nav {
  float: right; }

.repo-actions-nav > span {
  margin: 0 0 0 10px;
  padding: 1px 10px; }

.repo-actions-nav > span a {
  border-bottom: 1px solid #3B89AD;
  padding-bottom: 2px;
  color: #3B89AD;
  transition: border-color ease .1s, color ease .1s; }

.repo-actions-nav > span a:hover {
  text-decoration: none;
  color: #FFFFFF;
  border-bottom-color: #FFFFFF; }

.form-text {
  display: block;
  width: 100%;
  color: #464a4c;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  border: 2px solid #88DBDF;
  border-radius: 8px;
  font: inherit;
  padding: 5px 12px;
  height: 38px; }

.node .repo-actions-nav {
  display: none; }

#block-mainpagecontent .form-item {
  margin-bottom: 20px; }

#block-mainpagecontent label {
  font-weight: 600;
  margin-bottom: 0; }

.res-el {
  border-bottom: 1px solid #DDDDDD;
  padding: 0 0 20px 0; }

.res-property {
  padding: 2px 0; }

.res-property i {
  vertical-align: text-bottom;
  font-size: 17px;
  padding-right: 2px; }

.res-title {
  font-weight: 600; }

.res-contributor {
  font-style: italic; }

.res-act-button {
  display: inline-block;
  background-color: #88DBDF;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 2px 7px;
  margin: 6px 8px 0 0;
  font-size: 14px;
  cursor: pointer;
  transition: background-color ease .2s; }
  .res-act-button:hover {
    background-color: #3B89AD; }
  .res-act-button a:focus, .res-act-button a:hover {
    color: inherit;
    text-decoration: none; }
  .res-act-button i {
    vertical-align: sub;
    font-size: 16px;
    padding-right: 2px; }

.res-property-desc {
  display: none; }

.res-el.res-info {
  padding-bottom: 5px; }

.left-sidebar {
  padding-left: 0; }

.left-sidebar-info {
  border-bottom: 1px solid #DDDDDD;
  padding: 0 0 5px 0;
  margin-bottom: 20px; }

.sks-form, .stor-form {
  margin-bottom: 20px;
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 20px; }

.sks-form h3:before, .stor-form h3:before, .fieldset-legend:before {
  content: 'remove';
  font-family: 'Material Icons';
  border: 2px solid #3B89AD;
  color: #3B89AD;
  border-radius: 5px;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  font-size: 15px;
  margin-right: 6px; }

.fieldset-legend {
  font-size: 20px;
  line-height: 26px;
  font-family: "Cabin", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400; }

#sks-form {
  position: relative; }
  #sks-form .form-actions {
    position: absolute;
    top: 0;
    right: 0; }
    #sks-form .form-actions .keywordsearch-btn {
      margin: 0;
      border: 0;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      height: 38px;
      padding: 6px 9px;
      font-family: 'Material Icons';
      font-size: 24px;
      color: #FFFFFF;
      background-color: #88DBDF;
      font-weight: normal;
      line-height: 1;
      cursor: pointer;
      transition: background-color ease .2s; }
      #sks-form .form-actions .keywordsearch-btn:hover {
        background-color: #3B89AD; }

.form-examples {
  margin: 15px 0 0 0;
  background-color: #F1F1F1;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  padding: 8px 10px 10px 10px;
  font-size: 14px; }

.form-example-btn {
  display: inline-block;
  background-color: #88DBDF;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 2px 7px;
  margin: 6px 8px 0 0;
  font-size: 14px;
  cursor: pointer;
  transition: background-color ease .2s; }

.form-example-btn:hover {
  background-color: #3B89AD; }

.index-keyword-search {
  margin-bottom: 25px; }

.start_left_block figure.align-left {
  width: 45%;
  margin-right: 20px;
  font-weight: 600;
  font-size: 14px; }

.start_left_block figure.align-left > img {
  width: 100%;
  padding-bottom: 5px; }

/* Checkboxes */
.form-composite {
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px solid #DDDDDD; }

.fieldset-wrapper {
  margin-left: 10px; }

legend {
  float: left; }

input.checkbox-custom, .radio-custom {
  opacity: 0;
  position: absolute;
  margin: 7px 0 0 4px;
  z-index: 99; }

input.checkbox-custom, .option, .radio-custom {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer; }

.option {
  position: relative; }

input.checkbox-custom + .option:before, .radio-custom + .option:before {
  content: '';
  background: #FFFFFF;
  border: 2px solid #88DBDF;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 10px;
  text-align: center; }

input.checkbox-custom:checked + .option:before {
  background: #3B89AD;
  box-shadow: inset 0px 0px 0px 2px #FFFFFF;
  border-color: #3B89AD; }

.radio-custom + .option:before {
  border-radius: 50%; }

.radio-custom:checked + .option:before {
  background: #ccc;
  box-shadow: inset 0px 0px 0px 4px #FFFFFF; }

input.checkbox-custom:focus + .option, .radio-custom:focus + .option {
  outline: 1px solid #DDDDDD;
  /* focus style */ }

.single-res-heading:nth-child(1) {
  margin-top: 0; }

.single-res-heading {
  margin-top: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid #DDDDDD; }

.single-res-heading i {
  vertical-align: text-bottom; }

figure.highlight {
  padding-top: 5px;
  padding-bottom: 0px;
  background-color: #F1F1F1;
  border-top: 1px solid #88DBDF;
  border-bottom: 1px solid #88DBDF; }

.highlight pre code {
  color: #3B89AD; }

.cite-selector {
  border-left: 1px solid #88DBDF;
  margin-top: 20px; }

.cite-style {
  display: inline-block;
  border-right: 1px solid #88DBDF;
  border-top: 1px solid #88DBDF;
  color: #88DBDF;
  padding: 6px 14px;
  margin-right: -3px;
  cursor: pointer;
  font-size: 14px; }

.cite-style.selected {
  background-color: #3B89AD;
  border-color: #3B89AD;
  color: #FFFFFF; }

.res-file {
  cursor: pointer; }

.res-file:hover {
  color: #3B89AD;
  border-bottom: 1px solid #88DBDF; }

.child-res {
  border-bottom: 1px solid #DDDDDD;
  padding: 10px 0 20px 0; }

.res-inside-wrap {
  float: left;
  padding: 0; }

.single-res-thumb {
  border: 10px solid #F1F1F1;
  border-radius: 5px;
  padding: 20px;
  max-height: 200px;
  position: relative;
  margin-top: 5px; }

.res-thumb-info {
  font-size: 13px;
  float: right; }

.single-res-overview-expert {
  display: none; }

.single-res-heading .res-act-button {
  color: #3B89AD;
  background: transparent;
  float: right;
  margin: 0; }

.dataTables_wrapper {
  padding: 0;
  font-size: 14px; }

/*
.dataTables_wrapper > .row {
    margin-top: 10px;
}
*/
table.dataTable {
  border-right: 1px solid #eceeef;
  border-left: 1px solid #eceeef;
  border-bottom: 1px solid #eceeef; }

table.dataTable th {
  font-size: 14px; }

table.dataTable td {
  font-size: 16px;
  padding: 6px 15px; }

table.dataTable td a {
  word-break: break-word; }

table.dataTable td.res-download-button {
  padding-left: 35px; }

table.dataTable td.res-download-button i {
  cursor: pointer;
  color: #3B89AD;
  transition: color ease .1s; }

table.dataTable td.res-download-button i:hover {
  color: #88DBDF; }

.info-menu-wrap.fixed-sidebar {
  position: fixed;
  margin-top: -60px; }

#block-informationpagenavigation {
  padding-left: 0; }

.info-menu-wrap > ul > li:nth-child(4):after {
  content: "About Our Service";
  display: block;
  font-family: "Cabin", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 8px; }

/* _footer.scss */
.main-footer {
  background-color: #88DBDF;
  border-top: 8px solid #FFFFFF;
  display: inline-block;
  width: 100%; }
  .main-footer .footer-wrapper {
    padding: 25px 0px 15px 0px;
    display: inline-block;
    width: 100%; }
    .main-footer .footer-wrapper .footer-social {
      text-align: right; }
      .main-footer .footer-wrapper .footer-social a {
        font-size: 24px;
        color: #fff;
        margin-left: 15px; }
    .main-footer .footer-wrapper .navbar {
      float: right;
      padding-right: 0; }

@media (max-width: 1199px) {
  .vert-divider {
    margin-left: 215px; } }
@media (max-width: 991px) {
  .vert-divider {
    display: none; }

  .main-header .main-navigation .navbar ul.navbar-nav li.nav-item {
    float: left;
    width: 100%; }

  .main-header .main-navigation .navbar ul.navbar-nav li.nav-item a.nav-link {
    border-top: 1px solid #ddd;
    border-left: none !important;
    border-right: none; }

  body.toolbar-tray-open.toolbar-vertical .main-header {
    width: calc(100% - 240px); } }
