/* _footer.scss */

.main-footer {
    background-color: $white;
    display: inline-block;
    width: 100%;
    z-index: 3;
    position: relative;
    border-top: 25px solid $lightgray;
    margin-top: -26px;
    
    .footer-wrapper {
	    padding: 25px 20px 50px 20px;
	    display: inline-block;
	    width: 100%;
	    
	    .footer-social {
		    text-align: right;
		    
		    a {
			    font-size: 24px;
			    color: $black;
			    margin-left: 15px;
			}
		    
		}
		
		.navbar {
		    float: right;
		    padding-right: 0;
		}


	}
	
	
}

.footer-sep {
    border-bottom: 1px solid $black;
    padding-bottom: 15px;
    padding-top: 5px;
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 14px;
}

.footer-sep i {
    font-size: 20px;
    padding-right: 5px;
}

footer .el-block.first {
    padding-left: 0;
}

footer .el-block.last {
    padding-right: 0;
    float: right;
}

.helpdesk-button {
    display: block;
    background-color: $white;
    border: 1px solid $primary;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 11px;
    font-weight: 600;
    color: $primary;
    transition: background-color ease .2s, color ease .2s;
}

.helpdesk-button:hover, .helpdesk-button:focus {
    background-color: $primary;
    color: $white;
    transition: background-color ease .2s, color ease .2s;
}

footer .bodytext {
    font-size: 15px;
}

.csc-textpic-text {
    padding-left: 20px;
}

footer h3 {
    font-size: 17px;
}

.footer-login-button {
    float: right;
    margin-left: 8px;
}

.footer-login-button i {
    color: $primary;
    font-size: 22px;
    margin-top: 6px;
    transition: color ease .2s;
}

.footer-login-button i:hover, .footer-login-button i:focus {
    color: $accent;
}

.footer-imprint-bar {
    text-align: center;
    background-color: $lightgray;
    padding: 8px;
    font-size: 14px;
}

.footer-brand {
  border: 0;
}

footer .el-block.first {
    padding-left: 0;
    display: flex;
}