/* _header.scss */
/*
.main-header {
	background-color: $white;
    border-bottom: 1px solid $gray;
    display: inline-block;
    width: 100%;
    z-index: 99;
    padding: 35px 0 10px 0;
    position: relative;

    > .container {
    padding-left: 30px;
    padding-right: 30px;
	}
    
    #block-acdh-repo-branding {
		display: flex;
	    flex-direction: row;
	    width: 100%;
	    align-items: center;
	}

	.logo {

		img {
            max-width: 190px;
		}
	
	}


    .main-navigation {
    	
    	.navbar {
			padding: 0;
			position: inherit;
			justify-content: flex-end;

			.navbar-collapse {
			    justify-content: flex-end;
			    margin: 4px -25px 0 0;
			}
	
	    	ul.navbar-nav {
			    display: inline-block;
			    
			    li.nav-item {
				    display: inline-block;
	
					&:nth-child(1) > a.nav-link {
						border-left: 1px solid $gray;
					}
				    
				    a.nav-link {
					    text-transform: uppercase;
					    border-left: 1px solid $gray;
					    padding: 0 22px 16px 22px;
					    font-size: 13px;
					    font-weight: 600;
					}
	   
				}
			}
		}
	}	
		
}



.navbar-toggler-icon i {
    font-size: 28px;
    color: #88dbdf;
    border: 2px solid #88dbdf;
    border-radius: 5px;
    padding: 0px 3px;
}

.navbar-toggler-right {
    position: absolute;
    top: 15px;
    right: 24px;
    cursor: pointer;
}

.navbar-toggler-right:focus {
    outline: none;
}

.institut-left-color {
    background-color: $primary;
}

.institut-bar {
    margin: 0 21px 6px 25px;
    height: 30px;
    flex: 1;
}

.institut-bar > div {
    text-align: right;
    padding: 5px 16px;
    font-size: 14px;
    color: $white;
}

.acdh-brand img {
    max-width: 62px;
    margin-bottom: 10px;
}
*/


.navbar {
  margin-bottom: 0 !important;
}

.navbar-expand-md>.container {
    padding: 0 20px;
}

nav.breadcrumb > .breadcrumb {
    width: 1110px;
}

.navbar-toggler {
    margin-top: 15px;
}

.navbar-icons-text {
  font-size: 15px;
  font-weight: 600;
  vertical-align: text-bottom;
  color: #7f7f7f;
  transition: color linear .2s;

  &:hover {
    color: #444;
  }

}

.navbar .navbar-icons i {
  color: #88dcdf;
}