@media (max-width: 767px) {


}

@media (max-width: 1199px) {
	
	.vert-divider {
	    margin-left: 215px;
	}

}

@media (max-width: 991px) {

	.vert-divider {
	    display: none;
	}

	.main-header .main-navigation .navbar ul.navbar-nav li.nav-item {
	    float: left;
	    width: 100%;
	}
	
	.main-header .main-navigation .navbar ul.navbar-nav li.nav-item a.nav-link {
	    border-top: 1px solid #ddd;
	    border-left: none !important;
	    border-right: none;
	}

	body.toolbar-tray-open.toolbar-vertical {

		.main-header {
		    width: calc(100% - 240px);
		}		
	}
	
}


@media (min-width: 480px) {

}

@media (min-width: 560px) {

}

@media (min-width: 640px) {

}

@media (min-width: 720px) {

}

@media (min-width: 848px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}
