<div class="start_left_block col-block col-lg-6 col-md-12"/>
	<div class="col-block-wrapper">
	  <h2>{{ "Discover resources"|trans }}</h2>

	<form action="/browser/discover" method="post" id="sks-form" class="index-keyword-search" accept-charset="UTF-8" data-drupal-form-fields="edit-metavalue,edit-searchbox-types-collection,edit-searchbox-types-person,edit-searchbox-types-disseminationservice,edit-date-start-date,edit-date-end-date,edit-submit">
	
		<div class="js-form-item form-item js-form-type-textfield form-item-metavalue js-form-item-metavalue form-no-label">
			<input class="form-control form-text" data-drupal-selector="edit-metavalue" type="text" id="edit-metavalue" name="metavalue" value="" size="60" maxlength="128" placeholder="Search for titles, authors, institutes or resource types.">
		</div>
	
		<input data-drupal-selector="form-hny7kpoorygfqh-smaijl-ekgo8fdzan5dggzv6tafu" type="hidden" name="form_build_id" value="form-hnY7kpoORyGfqh-sMaijL_EkgO8FDzaN5DGgzv6TafU">
		<input data-drupal-selector="edit-sks-form-form-token" type="hidden" name="form_token" value="ZuxK6WORYVgltWJifB8KDiLKWShKgzkNqhL7L8Gdw84">
		<input data-drupal-selector="edit-sks-form" type="hidden" name="form_id" value="sks_form">
		<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
			<input class="keywordsearch-btn button button--primary js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="search">
		</div>
	
	</form>

	  <h3 class="latest-additions">{{ "Latest Additions"|trans }}</h3>
	  {% block content %}
	    {{ content }}
	  {% endblock %}
  	<div class="res-act-button global-button">
  		<a href="/browser/discover/root">
  			<span>{{ "See All Resources"|trans }}</span>
  		</a>
  	</div>
	  <!--
		<h3>Featured Projects</h3>
		<figure role="group" class="align-left"><img alt="TUNICO – Linguistic dynamics in the Greater Tunis Area" data-entity-type="file" data-entity-uuid="765d7ecc-7ca0-4dd1-bc2c-90cd199e17ec" src="/browser/sites/default/files/inline-images/tunbg.png"><figcaption>TUNICO – Linguistic dynamics in the Greater Tunis Area</figcaption></figure>
		<figure role="group" class="align-left"><img alt="Wien[n]erisches Diarium – 
		A data treasury for the humanities" data-entity-type="file" data-entity-uuid="b76455e8-d2a8-422f-ba79-a92c6aacdf47" src="/browser/sites/default/files/inline-images/wiebg.png"><figcaption>Wien[n]erisches Diarium –<br>
		A data treasury for the humanities</figcaption></figure>
	!-->
	</div>   
</div>