<div class="{{ field_name }} col-block col-lg-6 col-md-12">
	<div class="col-block-wrapper">
		{% if multiple %}
		  {% for item in items %}
		    <div{{ item.attributes }}>{{ item.content }}</div>
		  {% endfor %}
		{% else %}
		{% for item in items %}
		  {{ item.content }}
		{% endfor %}
		{% endif %}
	</div>   
</div>