<footer class="main-footer" role="contentinfo">
    <div class="container">
    	<div class="footer-wrapper">
            
            <div class="footer-sep">
                <i class="fa fa-comment-o" aria-hidden="true"></i> {{ "Contact"|trans }}
            </div>

            <div class="el-block col-lg-6 col-md-6 first">
                  <a href="https://www.oeaw.ac.at/acdh/acdh-home/" style="border-bottom: none !important;"><img src="https://fundament.acdh.oeaw.ac.at/common-assets/images/acdh_logo.svg" class="image" alt="ACDH Logo" style="max-width: 100%; height: auto;" title="ACDH Logo"></a>
              <div class="csc-textpic-text">
                  <p class="bodytext">
                    ACDH-CH
                    <br>
                    Austrian Centre for Digital Humanities <br/> and Cultural Heritage
                    <br>
                    Austrian Academy of Sciences
                  </p>
                  <p class="bodytext">Sonnenfelsgasse 19<br>1010 Vienna
                  </p>
                  <p class="bodytext">T: +43 1 51581-2200<br>E: <a style="font-weight:600;" href="mailto:acdh@oeaw.ac.at">acdh(at)oeaw.ac.at</a></p>
              </div>
            </div>

            <div class="el-block col-md-3 last">
                <h3>HELPDESK</h3>
                <p class="bodytext">{{ "ACDH-CH runs a helpdesk offering advice for questions related to various digital humanities topics."|trans }}</p>
                <p class="bodytext"><a href="mailto:acdh-helpdesk@oeaw.ac.at" class="helpdesk-button">{{ "ASK US!"|trans }}</a></p>
            </div>
        </div>    
    </div>
    <div class="footer-imprint-bar">
    	© Copyright OEAW | <a href="{{ url('<front>') }}imprint">Impressum/Imprint</a>
    </div>
</footer>