<header class="main-header" role="banner">
  <nav class="navbar navbar-expand-md navbar-light bg-white box-shadow">
    <div class="container">
      {{ page.header }}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMain">
        {{ page.main_navigation }}
        <div class="navbar-icons">
          <a href="https://fedora.localhost/browser/user/login">
            <i class="fa fa-sign-in"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>