<header class="main-header" role="banner">
    <div class="container">
    	<div class="top-branding">
        	{{ page.header }}
        </div>

        <div class="main-navigation">
            {{ page.main_navigation }}
        </div>
    </div>
</header>