{% include directory ~ '/templates/layout/header.html.twig' %}

<div class="container">
  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      <div class="article-list">
      	{{ page.start_page_content }}         
        </div>
    </div>{# /.layout-content #}

  </main>
</div>{# /.layout-container #}

{% include directory ~ '/templates/layout/footer.html.twig' %}


